.col-md-10.card-left-menu {
    text-align: left;
    padding-left: 28px;
    padding-top: 10px;

}

#device {
    /* width: 53px; */
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/24px "PT Sans", sans-serif;
    letter-spacing: 0px;
    color: #292B6B;
    opacity: 1;
    margin-top: 8px;
    ;
}

#nameof {
    width: 231px;
    height: 23px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 16px/24px "PT Sans", sans-serif;
    letter-spacing: 0px;
    color: #292B6B;
    opacity: 1;
    margin-top: 3px;
    ;
}

#process {
    width: 220px;
    height: 20px;
    text-align: left;
    font: normal normal normal 16px/24px "PT Sans", sans-serif;
    letter-spacing: 0px;
    color: #7C7C7C;
    opacity: 1;
    font-size: 13px;
}



#assign {
    width: 270px;
    text-align: left;
    font: normal normal normal 14px/24px "PT Sans", sans-serif;
    letter-spacing: 0px;
    color: #292B6B;
    opacity: 1;
}

#rent {
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border: 1px solid #D2D2D2;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 10px/10px "PT Sans", sans-serif;
    letter-spacing: 0px;
    color: #7C7C7C;
    text-transform: uppercase;
    padding: 4px 10px;
    margin-left: 10px;
}

section.card.card-menu {
    width: 290px;
    height: 175px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #06009F77;
    border-radius: 6px;
    opacity: 1;
    padding: 10px;
}

.card {
    width: 290px;
    padding: 10px;
    border-radius: 6px;
    height: 175px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000026;
    margin-top: 13px;
    opacity: 1;
}

#editIcon {
    margin-top: 70px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    ;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
    row-gap: 5px;
    column-gap: 15px;
    margin-top: 30px;
    width: 325px;
    margin-left: 10px;
}

#sub-menu {
    text-align: right;
    height: 2px;
}